# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
venv/

# ignoring processed dataset and saved configs for encoding new come running logs.
dataset/
encoding-configs/
models/trained_saved/